


<form [formGroup]="gradeHistoryForm" (ngSubmit) = "onSubmit()"  >
    <mat-card>
        

        <mat-card-header>
            <h2>Enter Student and Class Information</h2>
        </mat-card-header>
        <mat-card-content>

    <mat-form-field appearance="outline"  >
        <mat-label> Class ID</mat-label>
        <input id="class_id"  type="text" matInput formControlName="class_id" >
        @if (!class_id?.value){
        <mat-hint>Must be at least 3 chars</mat-hint>
        }
        @if (class_id?.hasError('required') ){
            <mat-error>Class ID is required </mat-error>
        }
        @else if (class_id?.hasError('minlength')) {
            <mat-error>Class ID Must be at least 3 chars </mat-error>
        }
    </mat-form-field>
    <mat-form-field appearance="outline" >
        <mat-label > Student ID</mat-label>
        <input id="student_id" matInput type="student_id" formControlName="student_id" >
    </mat-form-field>

  
    <div formArrayName="scores" >
        @for (grade of scores.controls; track grade ;  let i=$index; ){
            <div [formGroupName]="i"> 
                <fieldset>

                    <!-- <mat-radio-group formControlName="type">
                        <mat-radio-button value="exam">Exam</mat-radio-button>
                        <mat-radio-button value="quiz">Quiz</mat-radio-button>
                        <mat-radio-button value="homework">Homework</mat-radio-button>
                      </mat-radio-group>
                    -->

                    <mat-form-field >
                        <mat-label>Type of Assessment</mat-label>
                        <mat-select formControlName="type">
                          @for (type of gradeTypes; track type) {
                            <mat-option [value]="type.value" > {{type.viewValue}}</mat-option>
                          }
                        </mat-select>
                    </mat-form-field>

            <mat-form-field>
                <mat-label>Score</mat-label>
                <input matInput type="number" formControlName="score" />
                <mat-error>Must be a number between 0 and 100 </mat-error>
                
            </mat-form-field>
            <!-- <mat-form-field>
                <mat-label >Type</mat-label>
                <input matInput id="type-{{ i }}" type="text" formControlName="type"> 
            </mat-form-field >        -->
            


                  <button mat-button="button" 
                  aria-label="Remove item"  (click)="removeGrade(i)">
                    <mat-icon>delete</mat-icon>
                    Remove</button>
                    <legend>Assessment type and score {{i+1}}</legend>
                </fieldset>


            </div>


        }
    </div>

    <!-- <div >
        @if (scores.invalid && scores.touched)
        {
        Issues with the scores
        }
    </div>
     -->

<div>

</div>

 

    <!-- <h2>Next Set</h2>

   <div formArrayName="scores">
            <div *ngFor="let grade of scores.controls; let i = index" >
            <div  [formGroupName]="i"> 
                <label for="score-{{ i }}">score {{i+1}}:</label>
                <input id="score-{{ i }}" type="text" formControlName="score">
                <label for="type-{{ i }}">Type {{i+1}}:</label>
                <input id="type-{{ i }}" type="text" formControlName="type"> 
                         
                  <button type="button"   (click)="removeGrade(i)">Remove</button>
                </div>
                </div>
    </div> -->

    

   
    </mat-card-content>
<mat-card-actions>
    <button  type="button" mat-flat-button (click)="addGrade()">Add Grade</button>
    <button type="submit" mat-raised-button [disabled]="gradeHistoryForm.invalid" >Submit</button>
    <a mat-raised-button href="/grade-history"> Cancel </a>    
</mat-card-actions>
    </mat-card>
</form>